*
{
    font-family: Helvetica;
}
*
{
    box-sizing: border-box;
}

a
{
    color: #7e00ce;
    
}

.rose
{
    height: 120px;
}
.sun
{
    height: 120px;
}
.calla{
    height: 120px
}
ul{
    color: #7e00ce
}
#para
{
    font-family: cursive;
    font-size: 24px;
    color: #4b0096;
    
}
#Sunflowers

{
    color : #7e00ce;
}